In [4]:
#identyczność
a = 2
b = 3
a is not b
type(a)

int

In [10]:
a += (12*2)**2
print(a)

1154

In [35]:
abs(-2)

2

In [36]:
chr(65)
ord("A")

65

In [34]:

#count w listach nie w zbiorach
l = [1, 2, 3]
l.count(0)

0

In [33]:
#operacje na listach
l = [1, 2, 3]
l.insert(0, 5)
l.remove(5)
l.extend
l.reverse()
l*2+l
l[0] = 20
l.pop()
l.append(1)
l

[20, 2, 1]

In [63]:
tekst ="Przykładowy tekst" 
znak = "y"
print("Długość przed usinięciem: {}" .format(len(tekst)))
nowy_tekst = tekst.replace(znak, "")
print("tekst po zmianie: {}" .format(nowy_tekst))
print("długość po zmianie: {}" .format(len(nowy_tekst)))

Długość przed usinięciem: 17
tekst po zmianie: Przkładow tekst
długość po zmianie: 15

In [64]:
#zadanie
i = 1
x = 2.5

In [65]:
print("i: |%d|" % i)
print("i: |%10d|" % i)
print("i: |%+10d|" % i)
print("i: |%-10d|" % i)
print("i: |%010d|" % i)

i: |1|
i: |         1|
i: |        +1|
i: |1         |
i: |0000000001|

In [72]:
print("x: |%.1f|" % x)
print("x: |%10.1f|" % x)
print("x: |%10.4f|" % x)
print("x: |%-10.4f|" % x)
print("x: |%010.4f|" % x)
print("x: |%.4e|" % x)

x: |2.5|
x: |       2.5|
x: |    2.5000|
x: |2.5000    |
x: |00002.5000|
x: |2.5000e+00|

In [85]:
#składnie if 
a=-1
if a>0:
    print("good anakin good")
elif a>=0:
    print("This is outrages") 
else:
    print("dont try it")

dont try it

In [91]:
a = float(input("podaj liczbę"))
b = float(input("podaj liczbę"))
c = float(input("podaj liczbę"))
delta = b**2 - 4*a*c
if delta < 0:
    print("brak pierwiatków")
elif delta ==0:
    x0 = -b/(2*a)
    print("jeden pierwiatek rzeczywisty: ", x0 )
else:
    x1 = (-b+delta**0.5)/(2*a)
    x2 = (-b-delta**0.5)/(2*a)
    print("Równanie ma dwa pierwiastki rzeczywiste: ", x1, x2)

Równanie ma dwa pierwiastki rzeczywiste:  1.0 -1.0

In [111]:
x=0
a=5
b=5
if a > 0:
    if b < 0:
        x = x + 5
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

3

In [61]:
#lista
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
l1 = l[::2]
l1

[1, 3, 5, 7, 9]

In [78]:
l2 = l[1::2]
l2.reverse()
l2

[8, 6, 4, 2]

In [79]:
l3 = l1 + l2
l3

[1, 3, 5, 7, 9, 8, 6, 4, 2]

In [81]:
#dodawanie -append; wyrzucanie -pop
l = []
l.append(2)
print(l)
l.append(4)
print(l)
e = l.pop()
print(l, e)
l.append(6)
print(l)
e = l.pop()
print(l, e)
l.append(7)
print(l)

[2]
[2, 4]
[2] 4
[2, 6]
[2] 6
[2, 7]

In [89]:
lista1 = [4, 8, 12, 16]
lista2 = lista1
lista2[2] = -10 
print(lista1[2], lista2[2])

-10 -10

In [105]:
#tworzenie list
a = list(range(0,20,2))
print(a)
id(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

2659927498816

In [107]:
#tworzenie list z użyciem pętli for
l = []
for i in range(10):
    l.append(i**2)
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [112]:
#odwzorowania listowe
l2 = [i**2 for i in range(10)]
l2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [113]:
#zagnieżdżenia - tablica dwuwymiarowa
l3 = [[i, j] for i in range(5) for j in range(6)]
l3

[[0, 0],
 [0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [0, 5],
 [1, 0],
 [1, 1],
 [1, 2],
 [1, 3],
 [1, 4],
 [1, 5],
 [2, 0],
 [2, 1],
 [2, 2],
 [2, 3],
 [2, 4],
 [2, 5],
 [3, 0],
 [3, 1],
 [3, 2],
 [3, 3],
 [3, 4],
 [3, 5],
 [4, 0],
 [4, 1],
 [4, 2],
 [4, 3],
 [4, 4],
 [4, 5]]

In [116]:
#tablica jednowymiarowa
l4 = [i * j for i in range(5) for j in range(5)]
l4

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 0, 3, 6, 9, 12, 0, 4, 8, 12, 16]

In [8]:
#zbiory - albo {} albo set() oraz typ niezmienny frozenset()
a = set()
a = {"a", "d"}
a

{'a', 'd'}

In [3]:
a = set("aefg")
b = set("defg")
a, b

({'a', 'e', 'f', 'g'}, {'d', 'e', 'f', 'g'})

In [4]:
#suma - a. union(b)
a | b

{'a', 'd', 'e', 'f', 'g'}

In [5]:
#przecięcie zbiorów - a.intersection(b)
a & b

{'e', 'f', 'g'}

In [6]:
#różnica - a.difference(b)
a - b

{'a'}

In [7]:
#różnica symetryczna - a.symetric_difference(b)
a ^ b

{'a', 'd'}

In [29]:
slowo = "abcdef"
zdanie = "aabbccddeeffaacc"
set(slowo)
set(zdanie)

{'a', 'b', 'c', 'd', 'e', 'f'}

In [30]:
s = set(slowo)
z = set(zdanie)
s.issubset(z)

True

In [10]:
#słownik -  .item(keys:values)
k = dict(a = 5, y = 20)
k = {1:"d", 3:"u"}
student = {"imię":"Jan", "nazwisko":"Kowalski"}
student

{'imię': 'Jan', 'nazwisko': 'Kowalski'}

In [13]:
student["imię"]
student["wiek"] = 27
student

{'imię': 'Jan', 'nazwisko': 'Kowalski', 'wiek': 27}

In [14]:
for k in student.keys():
    print(k)

imię
nazwisko
wiek

In [34]:
#obsługa błędów -raise(wymuszenie pojawienia sie wyjątku) oraz assert(zgłaszanie błędów) - 
a = int(input("Wiek"))
if a < 0:
    raise ValueError("Niewłaściwa odpowiedź")
else:
    print(a)

1

In [89]:
# try except - as* else*
while True:
    try:
        a = int(input("podaj liczbę"))
    except ValueError: #except: w przypadku gdy chcemy do każdego możliwego wyjątku
        print("Zła liczbe")
        a = int(input("podaj liczbę"))
    else:
        print("podałeś poprawną wartość")
        break

podałeś poprawną wartość

In [96]:
#do poprawy i zadanie do zrobienia z obsługi błędów!
while True:
    try:
        a = int(input("podaj liczbę"))
    except Exception as e:
        print("Inny wyjątek", e.__class__)
        a = int(input("podaj liczbę"))
    else:
        print("podałeś poprawną wartość")
        break

podałeś poprawną wartość

In [97]:
try:
    print(x)
except:
    print("Przechwycono wyjątek")

SyntaxError: invalid non-printable character U+205F (1228851960.py, line 2)